<!--    BOTTON FOR FOG ON / OFF-->

<div style=" position: absolute; top: 25px; right: 200px;">
  <img src="assets/icons8-settings.svg" height="40" width="40" style="position: relative; top: 0px; right: 30px;" alt="">
  <div style="position: relative; top: 0px; background: #181818; padding: 16px" class="col">
    <div class="checkbox-wrapper row">
      <h4>Fog</h4>
      <input class="tgl tgl-skewed " [ngModel]="showFog" (click)="changeFogStatus()" id="cb3"
             type="checkbox"/>
      <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="cb3"></label>
    </div>
    <!--<div class="checkbox-wrapper row" style="top: 60px">-->
    <!--  <h4>Light</h4>-->
    <!--  <input class="tgl tgl-skewed " [ngModel]="showFog" (click)="changeNeonColor()" id="cb3"-->
    <!--         type="checkbox"/>-->
    <!--  <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="cb3"></label>-->
    <!--</div>-->
    <ng-select [searchable]="false"  class="custom-select"
               [(ngModel)]="selectNeonColor"
               (change)="changeNeonColor()"
               [clearable]="false"  id="neon-color"
               placeholder="Select Neon Color">
      <ng-option *ngFor="let val of elencoColori"
                 [value]="val.value">{{val.key | titlecase}}</ng-option>
    </ng-select>
  </div>


</div>
