.hide{
  visibility: hidden;
}

.fog {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
}

.fog-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0px;
  //z-index: 1;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  //z-index: 2;
}

.fog-img-first {
  background: url("../assets/fog/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 120s linear infinite;
}

.fog-img-second {
  background: url("../assets/fog/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-200vw, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

svg{
  position: absolute; top: 25px; right: 200px;
  fill: var(--neon-color);
}

/*
 * == lightsaber Styles
 */

#lightsaber {
  //width:50px;
  width:100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  margin:auto;
  line-height:0;
  text-align:center;
  z-index: 1000;
  background: #1d1d1d;
}
#lightsaber span { display:inline-block; }

#light {
  position:relative;
  margin: auto;
  width:14px;
  background:#fff;
  height:520px;
  border-radius: 7px;
  box-shadow:0 0 5px #fff,0 0 8px #fff,0 0 12px #fff,0 0 15px var(--neon-color),0 0 25px var(--neon-color);
  z-index:5;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

