<ng-container *ngrxLet="fogStatus$; let fogStatus">
    <div class="fog-container" *ngIf="fogStatus">
      <div class="fog-img fog-img-first"></div>
      <div class="fog-img fog-img-second"></div>
    </div>
    <!--    Wrapper for hide content during drag and drop + position relative -->
    <section [class.hide]="dragActive$ | async" style="position: relative; margin: 70px 100px" id="contentWrapper">
      <app-settings-buttons></app-settings-buttons>
      <app-dark-modal *ngIf="modalIsOpen$ | async"></app-dark-modal>
      <router-outlet style="z-index: 10"></router-outlet>
      <app-mobile-navbar style="z-index: 20"></app-mobile-navbar>
    </section>
    <app-side-menu></app-side-menu>

</ng-container>


<!-- Loading saber animation -->
<div id="lightsaber">
  <div style="margin: auto;">
    <span id="light" style="transform: rotate(55deg); margin: 0; height: 363px; position: relative; top: 109px;"></span>
    <span id="light" style="transform: rotate(-55deg); margin: 0; height: 350px; position: relative; top: -95px;"></span>
  </div>

</div>
