<nav class="neon-shadow" #sideNav [class.orizontal]="navIdex === 1 || navIdex === 3">
  <div class="wrapper" *ngIf="!canDragNav">
    <div>a</div>
    <div>b</div>
    <div>c</div>
    <div>d</div>
  </div>
  <p *ngIf="canDragNav" style="text-align: center;"> DRAG ME</p>
</nav>

<div class="drop-zone-target">
  <div [class.show]="canDragNav" class="drop-zone left"></div>
  <div [class.show]="canDragNav" class="drop-zone top"></div>
  <div [class.show]="canDragNav" class="drop-zone right"></div>
  <div [class.show]="canDragNav" class="drop-zone bottom"></div>
</div>
